.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 90vw;
  height: 93vh;
  background-color: #f4f4f4;
}

.login {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  border: solid 1px #dadce1;
  margin-bottom: 60px;
}

.login-title {
  margin-left: 14px;
  font-size: 20px;
  font-weight: 700;
  color: #484a4d;
}

.login-error {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #f08080;
  border-radius: 5px;
  width: 312px;
  margin: 10px;
}

.login-link__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.login-link {
  font-size: 13px;
  font-weight: 600;
  color: #484a4d;
}

.login-link:hover {
  filter: brightness(1.1);
}
