.forgot-password__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 90vw;
  height: 93vh;
  color: #212240;
}

.forgot-password {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 60px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.forgot-password__title {
  margin-left: 14px;
  font-size: 20px;
  font-weight: 700;
}
