.forgot-password__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 90vw;
  height: 93vh;
  color: #212240;
}

.forgot-password {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 60px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 342px;
  font-size: 12px;
}

.forgot-password__title {
  font-size: 18px;
  font-weight: 600;
  color: #212240;
  text-align: center;
}

.forgot-input__group {
  display: flex;
  position: relative;
  width: 100%;
}

#forgot-input {
  padding-left: 42px;
  margin-top: 0;
  margin-bottom: 12px;
}

.forgot-input__icon {
  position: absolute;
  top: 20%;
  left: 6%;
  margin-right: 10px;
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.4);
}

.forgotPassword-link__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.forgotPassword-link {
  font-size: 13px;
  font-weight: 600;
  color: #212240;
}

.forgotPassword-link:hover {
  filter: brightness(1.1);
}

.forgot-password__error {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #f08080;
  border-radius: 5px;
  width: 312px;
  margin: 10px;
}

.link-sent__content {
  padding-left: 15px;
  padding-right: 15px;
}

.link-sent__title {
  color: #212240;
  font-size: 13px;
  font-weight: 600;
}

.link-sent__button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(82, 59, 228);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  padding: 11.5px;
}
