.payment-method__container {
  display: flex;
  position: relative;
  background-color: #fff;
  border-radius: 10px 0 10px 0;
  max-width: 700px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  height: 80px;
  margin: auto;

  background-color: #fff;
  border-radius: 10px 0 10px 0;
  justify-content: center;
  align-items: center;
}

#payment-method__addbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  width: 230px;
  margin: 0;
}

.modal-payment__container {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 115%;
  left: 0%;
  top: 0%;
  backdrop-filter: blur(3px);
  background-color: rgba(43, 59, 74, 0.6);
  z-index: 2;
}

.modal-payment__title {
  font-size: 1.1rem;
}

.modal-payment__icon {
  position: absolute;
  top: 4%;
  right: 4%;
  cursor: pointer;
}

.modal-payment__content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 13%;
  background-color: #f8fafb;
  width: 100%;
  height: 100%;
  max-height: 65%;
  max-width: 93%;

  border-radius: 10px;
}

.credit-card__group {
  display: inline-block;
}

.credit-card__flex {
  display: flex;
  margin: 3px;
}

.credit-card__label {
  display: flex;
  align-items: flex-start;
  margin-left: 5px;
  font-size: 14px;
}

#modal-payment__card {
  width: 314px;
  margin: 3px;
}

#modal-payment__firstName {
  width: 152.5px;
  margin: 3px;
}

#modal-payment__lastName {
  width: 152.5px;
  margin: 3px;
}

#modal-payment__month {
  width: 100px;
  margin: 3px;
}

#modal-payment__year {
  width: 100px;
  margin: 3px;
}

#modal-payment__cvv {
  width: 100px;
  margin: 3px;
}

#modal-payment__save {
  width: 312px;
  margin: 3px;
  margin-top: 8px;
  margin-bottom: 5px;
}

#modal-payment__cancel {
  width: 312px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.card-error {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #f08080;
  border-radius: 5px;
  width: 312px;
  margin: 10px;
}
