.create-store__page-container {
  width: 1200px;
  max-width: 90%;
  height: auto;
  margin: auto;
  color: #212240;
  padding-bottom: 8%;
}

.create-store__page-title {
  font-size: 21px;
  color: #212240;
  font-weight: 700;
}
