.subscription-page__container {
  width: 100%;
  max-width: 75%;
  margin: auto;
}
.subscription-page__title {
  font-size: 21px;
  color: #484a4d;
  font-weight: 700;
}

.subscription-page__subtitle {
  font-size: 16px;
  color: #484a4d;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
