.discont-container {
  display: flex;
  position: relative;
  min-height: 100px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0 0;
}

.discont-title {
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  left: 2%;
}

.discont-percentage {
  position: absolute;
  font-size: 17px;
  font-weight: 700;
  left: 2%;
  top: 35%;
  margin-bottom: 150px;
}

.discont-details {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 50%;
  top: 55%;
  cursor: pointer;
  border-radius: 100%;
}

.discont-button__dark {
  position: absolute;
  height: 40px;
  right: 2%;
  top: 29%;
  background-color: rgb(82, 59, 228);
  border: solid 1px rgb(82, 59, 228);
  border-radius: 3px;
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 700;
  height: 40px;
  transition: 300ms;
  width: 125px;
}

.discont-button__dark:focus,
.discont-button__dark:active {
  outline: none;
}

.discont-button__dark:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

#discont-button__disabled {
  opacity: 0.6;
}
#discont-button__disabled:hover {
  cursor: default;
  filter: brightness(1.1);
}

.discont-button__light {
  position: absolute;
  height: 45px;
  right: 1%;
  top: 27%;
}

.discont-card__expanded-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f8fafb;
  border: solid 1px #dadce1;
  border-top: none;
  word-break: break-all;
  font-size: 13px;
  padding-left: 18px;
  padding-right: 18px;
  box-sizing: border-box;
}

.discont-card-expanded__title {
  font-size: 14px;
  margin-bottom: 0;
}

.discont-card-expanded__days-box {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.discont-card-expanded__days-text {
  margin-left: 5px;
}

.discont-card-expanded__time {
  margin-top: 0;
}

.discont-card-expanded__regras-title {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}
