.discont-container {
  display: flex;
  position: relative;
  min-height: 100px;
  background-color: #fff;
  border: solid 1px #dadce1;
  border-radius: 10px 10px 0 0;
  color: #484a4d;
}

.discont-title {
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  left: 2%;
}

.discont-percentage {
  position: absolute;
  font-size: 16px;
  font-weight: 700;
  left: 2%;
  top: 30%;
  margin-bottom: 150px;
}

.discont-details {
  position: absolute;
  right: 50%;
  top: 55%;
  cursor: pointer;
}

.discont-button__dark {
  position: absolute;
  height: 40px;
  right: 2%;
  top: 29%;
  background-color: rgb(115, 80, 255);
  border: solid 1px rgb(115, 80, 255);
  border-radius: 5px;
  color: #f4f4f4;
  font-size: 13px;
  font-weight: 700;
  height: 40px;
  transition: 300ms;
}

.discont-button__dark:focus,
.discont-button__dark:active {
  outline: none;
}

.discont-button__dark:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

#discont-button__disabled {
  opacity: 0.6;
}
#discont-button__disabled:hover {
  cursor: default;
  filter: brightness(1);
}

.discont-button__light {
  position: absolute;
  height: 45px;
  right: 1%;
  top: 27%;
}
.expanded-details {
  position: relative;
  display: table;
  width: 100%;
  background-color: #f4f4f4;
  border: solid 1px#dadce1;
  border-top: none;
  height: 160px;
}

.expanded-details__title {
  position: absolute;
  left: 2%;
  font-size: 13px;
  font-weight: 600;
}

.expanded-details__time {
  position: absolute;
  left: 2%;
  top: 15%;
  font-size: 13px;
}

.expanded-details__days {
  position: absolute;
  left: 2%;
  top: 25%;
  font-size: 13px;
}

.expanded-details__regras {
  position: absolute;
  left: 2%;
  top: 40%;
  font-size: 13px;
  font-weight: 600;
}

.expanded-details__item {
  position: absolute;
  left: 2%;
  top: 55%;
  font-size: 13px;
}
