.favorite-card__container {
  position: relative;
  background-color: #fff;
  border-radius: 10px 0 10px 0;
  max-width: 700px;
  margin: auto;
  margin-bottom: 15px;

  height: 160px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.favorite-card__container:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.favorite-card__title {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 700;
  left: 4%;
}

.favorite-card__subtitle {
  position: absolute;
  font-size: 14px;
  left: 4%;
  top: 21%;
}

.favorite-card__delete {
  position: absolute;
  right: 4%;
  top: 12%;
  cursor: pointer;
}

.favorite-card__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 4%;
  top: 60%;
  background-color: rgb(82, 59, 228);
  border: solid 1px rgb(82, 59, 228);
  border-radius: 3px;
  color: #f4f4f4;
  font-size: 13px;
  font-weight: 600;
  height: 40px;
  width: 120px;
}

.favorite-card__button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}
