.category-container {
  width: 1200px;
  max-width: 90%;
  height: auto;
  margin: auto;
  color: #212240;
  padding-bottom: 8%;
}

.category-title {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.category-title__greeting {
  font-size: 21px;
  font-weight: 700;
}

.category-title__text {
  font-size: 18px;
  font-weight: 600;
}

.category-main {
  display: grid;
  max-width: 100%;
  height: 100%;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(170px, 1fr));
  gap: 30px;
}
