.partners-container {
  width: 100%;
  max-width: 90%;
  width: 1200px;
  margin: auto;
  padding: 10px;
}

.partners-grid {
  display: grid;
  max-width: 100%;
  height: 100%;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(140px, 140px));
  gap: 20px;
}

.no-partner__container {
  max-width: 90%;
  width: 1200px;
  margin: auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-partner__text {
  font-size: 1.3rem;
  margin-bottom: 25px;
  text-align: center;
}

.no-partner__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: rgb(82, 59, 228);
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 3px;
  width: 100%;
}

.no-pertner__link:hover {
  cursor: pointer;
  filter: brightness(1.1);
}
