.home-page__calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.25);
  color: #212240;
  max-width: 500px;
  padding: 30px;
}

.home-calculator__title {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  margin-top: 0;
}

.home-calculator__container {
  display: block;
  position: relative;
  border-radius: 10px;
  max-width: 100%;
}

.home-calculator__subtitles {
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
  line-height: 3rem;
}

.home-calculator__text {
  padding-right: 15px;
}

.calculator-input {
  border: solid 0.5px #2122402f;
  height: 25px;
  margin-right: 15px;
  margin-bottom: 5px;
  text-align: center;
  width: 105px;
}
.calculator-input:focus {
  outline: none;
  opacity: 0.8;
}

#home-calculator__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.95rem;
  font-weight: 600;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);
  color: rgb(82, 59, 228);
  border: none;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.25);
}

#home-calculator__button:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
}
