.favorite-card__container {
  position: relative;
  background-color: #fff;
  border-radius: 10px 0 10px 0;
  border: solid 1px #dadce1;
  max-width: 700px;
  margin: auto;
  margin-bottom: 15px;
  color: #484a4d;
  height: 160px;
}

.favorite-card__title {
  position: absolute;
  font-size: 16px;
  font-weight: 700;
  left: 3%;
}

.favorite-card__subtitle {
  position: absolute;
  font-size: 13px;
  left: 3%;
  top: 15%;
}

.favorite-card__delete {
  position: absolute;
  right: 3%;
  top: 12%;
  cursor: pointer;
}

.favorite-card__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 3%;
  top: 60%;
  background-color: #484a4d;
  border: solid 1px #484a4d;
  border-radius: 5px;
  color: #f4f4f4;
  font-size: 13px;
  font-weight: 600;
  height: 40px;
  width: 120px;
}

.favorite-card__button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}
