.resetPassword-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 90vw;
  height: 93vh;
}

.resetPassword {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 60px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.resetPassword-title {
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-bottom: 25px;
}

.resetPassword-input__group {
  display: flex;
  position: relative;
  width: 100%;
}

#resetPassword-input__password {
  display: block;
  padding-left: 42px;
  width: 156px;
  margin-right: 0;
  border-radius: 5px 0 0 5px;
}

#resetPassword-input__confirm-password {
  display: block;
  padding-left: 10px;
  width: 156px;
  margin-left: 0;
  border-radius: 0 5px 5px 0;
}

.resetPassword-input__icon {
  position: absolute;
  top: 30%;
  left: 6%;
  margin-right: 10px;
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.4);
}

.resetPassword-error {
  font-size: 12px;
  color: #f08080;
  border-radius: 5px;
  width: 312px;
  margin: 10px;
}
.resetPassword-link {
  font-size: 13px;
  font-weight: 600;
  margin: 15px;
  color: rgba(0, 0, 0, 0.7);
}

.resetPassword-password:hover {
  filter: brightness(1.1);
}

.forgotPassword-link__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.forgotPassword-link {
  font-size: 13px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}

.forgotPassword-link:hover {
  filter: brightness(1.1);
}
