.favorite-page__container {
  max-width: 90%;
  width: 1200px;
  margin: auto;
  color: rgba(0, 0, 0, 0.7);
}

.favorite-page__title {
  font-size: 21px;
  font-weight: 700;
}

.no-favorite__container {
  display: flex;
  max-width: 90%;
  width: 1200px;
  margin: auto;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.no-favorite__icon {
  height: 165px;
  width: 165px;
  opacity: 0.6;
}

.no-favorite__text {
  font-size: 1.3rem;
  margin-bottom: 25px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.no-favorite__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: rgb(82, 59, 228);
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0.6px 1.2px 0 rgba(0, 0, 0, 0.2);
  font-size: 15px;
}

.no-favorite__link:hover {
  cursor: pointer;
  filter: brightness(1.1);
}
