.calculator-container {
  width: 1200px;
  max-width: 90%;
  margin: auto;
}

.calculator-title {
  font-size: 21px;
  font-weight: 700;
}

.calculator-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
