.coupon-card__container {
  position: relative;
  background-color: #fff;
  border-radius: 10px 0 10px 0;
  border: solid 1px #dadce1;
  max-width: 700px;
  height: 160px;
  margin: auto;
  margin-bottom: 15px;
  color: #484a4d;
}

.coupon-card__title {
  position: absolute;
  font-size: 16px;
  font-weight: 700;
  left: 3%;
}

.coupon-card__name {
  position: absolute;
  font-size: 13px;
  left: 3%;
  top: 15%;
}

.coupon-card__percentage {
  position: absolute;
  font-size: 18px;
  font-weight: 700;
  left: 3%;
  top: 37%;
}

.coupon-card__delete {
  position: absolute;
  right: 3%;
  top: 12%;
  cursor: pointer;
}

.coupon-card__button {
  position: absolute;
  right: 3%;
  top: 64%;
  background-color: #484a4d;
  border: solid 1px #484a4d;
  border-radius: 5px;
  color: #f4f4f4;
  font-size: 13px;
  font-weight: 700;
  height: 40px;
}

.coupon-card__button:focus {
  outline: none;
}

.coupon-card__button:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.coupon-card__link {
  top: 75%;
  left: 3%;
  position: absolute;
  color: #484a4d;
  font-weight: 600;
  font-size: 13px;
  height: 40px;
}

.coupon-card__link:hover {
  text-decoration: none;
  filter: brightness(1.2);
}

.modal-coupon__container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 75%;
  height: 820px;
  top: 12%;
  background-color: rgba(185, 185, 185, 0.8);
  z-index: 2;
}

.modal-coupon__close {
  position: absolute;
  right: 4%;
  top: 4%;
  cursor: pointer;
}

.modal-coupon__content {
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  max-width: 75%;
  height: 500px;
  color: #484a4d;
}
.modal-coupon__name {
  position: absolute;
  top: 8%;
  left: 5%;
  font-size: 21px;
  font-weight: 700;
}

.modal-coupon__title {
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  top: 14%;
  left: 5%;
}

.modal-coupon__percentage {
  position: absolute;
  font-size: 21px;
  font-weight: 700;
  top: 19%;
  left: 5%;
}

.modal-coupon__qrcode {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 180px;
  max-width: 180px;
  top: 34%;
}

.modal-coupon__validate {
  position: absolute;
  left: 5%;
  top: 75%;
  font-size: 14px;
}

.modal-coupon__date {
  position: absolute;
  font-size: 13px;
  left: 5%;
  top: 80%;
}

.modal-coupon__time {
  position: absolute;
  font-size: 13px;
  left: 5%;
  top: 85%;
}
