.subscription-plan__container {
  position: relative;
  background-color: #fff;
  border-radius: 10px 0 10px 0;
  border: solid 1px #dadce1;
  max-width: 700px;
  height: 330px;
  margin: auto;
  margin-bottom: 15px;
  color: #484a4d;
  background-color: #fff;
  border-radius: 10px 0 10px 0;
}

.subscription-plan__title {
  position: relative;
  font-size: 16px;
  color: #484a4d;
  top: 4%;
  text-align: center;
}

.subsctiption-plan__price {
  position: relative;
  top: 4%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #2ea44f;
}

.subscription-plan__description {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  top: 3%;
}

#create-subscription__button {
  position: relative;
  margin: auto;
  top: 14%;
}

#cancel-subscription__button {
  position: relative;
  margin: auto;
  top: 15%;
}

.subscription-paln__active {
  position: relative;
  text-align: center;
  top: 14%;
  font-size: 14px;
  font-weight: 700;
  color: #2ea44f;
}
