.search-container {
  position: relative;
  margin-top: 15px;
}

.search-input {
  box-sizing: border-box;
  position: relative;
  display: flex;
  padding-left: 55px;
  width: 80%;
  height: 45px;
  margin: auto;
  border: solid 1px #dadce1;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #484a4d;
  transition: 300ms;
}

.search-input:focus {
  outline: none;
  opacity: 0.8;
}

.search-input:hover {
  border: solid 1px #474a4d;
  opacity: 0.8;
}

.search-icon {
  position: absolute;
  left: 11%;
  top: 20%;
  opacity: 0.5;
  z-index: 1;
}
