.search-container {
  display: flex;
  width: 100%;
  max-width: 75%;
  margin: auto;
}

.search-input {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  margin: 15px 30px 15px 0;
  padding: 5px 5px 5px 60px;
  border: solid 1px #dadce1;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #484a4d;
  transition: 300ms;
}

.search-input:focus {
  outline: none;
  opacity: 0.8;
}

.search-input:hover {
  border: solid 1px #474a4d;
  opacity: 0.8;
}

.search-icon {
  position: relative;
  left: 50px;
  top: 25px;
  opacity: 0.5;
  z-index: 1;
}
