.credit-card__container {
  position: relative;
  background-color: #fff;
  border-radius: 10px 0 10px 0;
  max-width: 700px;
  height: 80px;
  margin: auto;
  margin-bottom: 15px;
  color: #212240;
  background-color: #fff;
  border-radius: 10px 0 10px 0;
  max-width: 700px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.credit-card__delete {
  position: absolute;
  top: 40%;
  right: 3%;
  cursor: pointer;
}

.credit-card__brand-VISA {
  display: block;
  width: 62px;
  height: 42px;
  position: absolute;
  top: 24%;
  left: 3%;
  background-image: url('../../assets/icons/visa.svg');
  background-size: 62px 42px;
}

.credit-card__brand-MASTERCARD {
  display: block;
  width: 62px;
  height: 42px;
  position: absolute;
  top: 24%;
  left: 3%;
  background-image: url('../../assets/icons/mastercard.svg');
  background-size: 62px 42px;
}

.credit-card__number {
  position: absolute;
  top: 20%;
  left: 30%;
}
