.partner-container {
  display: flex;
  position: relative;
  background-color: #fff;
  min-height: 110px;
  border-radius: 10px 0 10px 0;
  transition: 300ms;
  text-decoration: none;
  color: #212240;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.partner-container:hover {
  filter: brightness(1.1);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.partner-text__box {
  flex: 3;
  padding-left: 10px;
}

.partner-image__box {
  flex: 2;
  padding: 10px;
  border: none;
}

.partner-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  border-radius: 0 0 10px 0;
}

.partner-title {
  position: absolute;
  font-size: 1.1rem;
  font-weight: 700;
}

.partner-subtitle {
  position: absolute;
  font-size: 0.9rem;
  top: 24%;
}

.partner-address {
  position: absolute;
  font-size: 0.75rem;
  top: 65%;
}
