.partner-container {
  position: relative;
  background-color: #fff;
  min-height: 110px;
  border: solid 1px #dadce1;
  border-radius: 10px 0 10px 0;
  padding-left: 15px;
  transition: 300ms;
  text-decoration: none;
  color: #484a4d;
}

.partner-container:hover {
  filter: brightness(1.1);
  background-color: #f4f4f4;
}

.partner-title {
  position: absolute;
  font-size: 16px;
  font-weight: 700;
}

.partner-subtitle {
  position: absolute;
  font-size: 12px;
  top: 24%;
}

.partner-address {
  position: absolute;
  font-size: 12px;
  top: 60%;
}
