.partner-container {
  display: block;
  align-items: center;
  background-color: #fff;
  height: 110px;
  border: solid 1px #dadce1;
  border-radius: 10px;
  padding-left: 15px;
  transition: 300ms;
}

.partner-container:hover {
  filter: brightness(1.1);
  background-color: #f4f4f4;
}

.partner-title {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #484a4d;
}

.partner-details {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  color: #484a4d;
}
